body{
    background-color: black;
}
p{
    color: white;
    margin-left: 10px;
}
nav{
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h6{
    color: yellow;
}
.tasks{
    color: white;
    text-align: center;
}
.tasks5{
    display: flex;
}
.tasks6{
    display: flex;
}
.tasks7{
    display: flex;
}